# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
.env/

# OS files
.DS_Store
Thumbs.db

# Data (don’t upload the Kaggle CSV)
data/raw/*.csv
data/raw/*.zip